:root {
    --header-navigation: #212121;
    --navigation-link: #757575;
    --heaeder-logo-link: #000;
    --header-logo-link2: #2196F3;
    --intro-heading: #FFF;
    --background: #2F303A;
    --addres-info: rgba(255, 255, 255, 0.60);
}

.navigation-link {
    color: var(--header-navigation);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    text-decoration: none;
}

.header-email,
.header-phone {
    color: var(--navigation-link);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    text-decoration: none;
}

span {
    color: var(--header-logo-link2);
    font-family: Raleway;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
    text-decoration: none;
}

.header-logo-link {
    color: var(--heaeder-logo-link);
    font-family: Raleway;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
    text-decoration: none
}

h1 {
    color: var(--intro-heading);
    font-family: Roboto;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: 2.64px;
    text-transform: uppercase;
}

.intro-container {
    background-color: #2F303A;
}

button {
    color: var(--intro-heading);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.96px;
    background-color: #2196F3;
}

h3 {
    color: var(--header-navigation);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

.feature-description {
    color: var(--navigation-link);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
}

.team-heading {
    color: var(--header-navigation);
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
}

.service-heading {
    color: #212121;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
}

h4 {
    color: var(--header-navigation);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.48px;
}

.team-role {
    color: var(--navigation-link);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.48px;
}

footer {
    background-color: #2F303A;
}

.footer-link {
    color: var(--intro-heading);
    font-family: Raleway;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
}

.footer-info {
    color: var(--intro-heading);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
}

.footer-email, .footer-phone {
    color: var(--navigation-link);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
}