:root {
    --header-navigation: #212121;
    --navigation-link: #757575;
    --heaeder-logo-link: #000;
    --header-logo-link2: #2196F3;
    --intro-heading: #FFF;
    --background: #2F303A;
    --addres-info: rgba(255, 255, 255, 0.60);
}

.navigation-link:hover {
    color: var(--header-logo-link2);
}

.header-email:hover,
.header-phone:hover {
    color: var(--header-logo-link2);
}

.navigation-link::before {
    content: "";
    width: 100%;
    height: 5px;
    position: absolute;
    background-color: #2196F3;
    left: 0px;
    top: 44px;
    border-radius: 20%;
    opacity: 0;
    transition-property: opacity;
    transition-timing-function: linear;
    transition-duration: 250ms;
}

.navigation-link:hover::before {
    opacity: 1;
}

.navigation-link {
    color: var(--header-navigation);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    text-decoration: none;
    position: relative;
    /* overflow: hidden; */
    transition-property: color;
    transition-timing-function: linear;
    transition-duration: 250ms;
}

header {
    padding: 25px 0px;
}

a {
    text-decoration: none;
}

.intro-button {
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    background: rgb(33, 150, 243, 0.5);
    cursor: pointer;
    text-decoration: none;
    transition-property: background;
    transition-timing-function: linear;
    transition-duration: 250ms;
}

.intro-button:hover, .intro-button:focus {
    background-color: #2196F3;
}

.header-email,
.header-phone {
    color: var(--navigation-link);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    text-decoration: none;
    transition-property: color;
    transition-timing-function: linear;
    transition-duration: 250ms;
}

span {
    color: var(--header-logo-link2);
    font-family: Raleway;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
    text-decoration: none;
}

.header-logo-link {
    color: var(--heaeder-logo-link);
    font-family: Raleway;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
    text-decoration: none;
}

h1 {
    color: var(--intro-heading);
    font-family: Roboto;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: 2.64px;
    text-transform: uppercase;
}

.intro {
    background-image: url(./images/шапка.png);
    padding: 200px 0px;
}

button {
    color: var(--intro-heading);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.96px;
    background-color: #2196F3;
    padding: 10px 32px;
}

h3 {
    color: var(--header-navigation);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

.feature-description {
    color: var(--navigation-link);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
}

.features {
    padding: 94px 0px;
}

.team-heading {
    color: var(--header-navigation);
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
}

.service-heading {
    color: #212121;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
}


.service-heading {
    padding: 0px 0px 54px;
}

.service-container {
    padding: 94px 0px;
}

.services {
    padding: 0px 0px 94px;
}

.team {
    padding: 94px 0px;
    background: rgb(245, 244, 250);
}

.footer {
    padding: 60px 0px;
}

.container {
    width: 1170px;
    margin: 0px auto;
}

h4 {
    color: var(--header-navigation);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.48px;
}

.team-role {
    color: var(--navigation-link);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.48px;
}

footer {
    background-color: #2F303A;
}

.footer-link {
    color: var(--intro-heading);
    font-family: Raleway;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
    padding: 0px 0px 20px 0px;
}

.footer-info {
    color: var(--intro-heading);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
}

.footer-email,
.footer-phone {
    color: var(--navigation-link);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: baseline;
}

.header__logo {
    display: flex;
    align-items: center;
    gap: 0px 93px;
}

.main-sector {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.text-sector {
    display: flex;
    gap: 30px;
}

.photo-sector {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.services-images {
    display: flex;
    justify-content: space-between;
    gap: 0px 30px;
}

.services-images {
    padding: 0px 16px;
}

.team-members {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.team__member {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #FFF;
}

.main-members {
    display: flex;
    align-items: center;
    gap: 30px;
}

.header__navigation {
    display: flex;
    gap: 50px;
}

.header__contact-info {
    display: flex;
    gap: 50px;
}

.text-members {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0px;
}

.footer-sag {
    display: flex;
    flex-direction: column;
    gap: 30 0px;
}

.footer-contact-info {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.text-img1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(245, 244, 250);
    width: 270px;
    height: 120px;
    background-repeat: no-repeat;
    background-position: center;
}

.text-img2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(245, 244, 250);
    width: 270px;
    height: 120px;
    background-repeat: no-repeat;
    background-position: center;
}

.text-img3 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(245, 244, 250);
    width: 270px;
    height: 120px;
    background-repeat: no-repeat;
    background-position: center;
}

.text-img4 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(245, 244, 250);
    width: 270px;
    height: 120px;
    background-repeat: no-repeat;
    background-position: center;
}

.feature-title {
    padding: 30px 0px 10px 0px;
}

.clients-sector {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 94px 0px;
}

.clients {
    display: flex;
    gap: 30px;
    padding: 60px 0px 0px 0px;
}

.client-text {
    color: rgb(33, 33, 33);
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 3%;
    text-align: center;
}

.client {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(175, 177, 184);
    width: 170px;
    height: 90px;
    box-sizing: border-box;
    border-radius: 4px;
    cursor: pointer;

}

.client:hover {
    border: 1px solid rgb(33, 150, 243);
    box-sizing: border-box;
    border-radius: 4px;
}

.client:hover .img-clients {
    fill: rgb(33, 150, 243);
}

.img-clients {
    fill: rgb(175, 177, 184);
    transition-property: fill;
    transition-timing-function: linear;
    transition-duration: 250ms;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px 32px 0px;
}

.team-contacts {
    fill: rgb(175, 177, 184);
}

.more-details:hover, .more-details:focus {
    background-color: rgb(33, 150, 243);
}

.more-details:hover .team-contacts {
    fill: rgb(255, 255, 255);
}

.more-details {
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    transition-property: background-color;
    transition-timing-function: linear;
    transition-duration: 250ms;
    cursor: pointer;
}

.footer-text {
    color: rgb(255, 255, 255);
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 3%;
    text-align: left;
    text-transform: uppercase;
    padding: 0px 0px 20px 0px;
}

.contact-footer {
    display: flex;
    flex-direction: column;
    padding: 0px 0px 0px 70px;
}


.footer-sector {
    display: flex;
}

.own-fot {
    display: flex;
    flex-direction: column;
}

.footer-img {
    fill: rgb(255, 255, 255);
}

.contact-cha {
    display: flex;
    gap: 10px;
}

.contact-elp {
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-property: background-color;
    transition-timing-function: linear;
    transition-duration: 250ms;
    cursor: pointer;
}

.contact-elp:hover {
    background-color: rgb(33, 150, 243);
}

.service-text1 {
    color: rgb(255, 255, 255);
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    right: 935px;
    top: 1340px;
    background-color: rgba(47, 48, 58, 0.8);
    width: 370px;
    height: 70px;
    padding: 27px 0px 0px 0px;
}

.service-text2 {
    color: rgb(255, 255, 255);
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    right: 535px;
    top: 1340px;
    background-color: rgba(47, 48, 58, 0.8);
    width: 371px;
    height: 70px;
    padding: 27px 0px 0px 0px;
}

.service-text3 {
    color: rgb(255, 255, 255);
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    right: 135px;
    top: 1340px;
    background-color: rgba(47, 48, 58, 0.8);
    width: 370px;
    height: 70px;
    padding: 27px 0px 0px 0px;
}